/* BASES */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    transition: color 0.1s ease, background-color 0.2s ease;
}

:root {
    --primary-color: antiquewhite;
    --secondary-color: #ffbfb0;
    --accent-color: #cfe0dc;
    --text-color: black;
}
/* COULEURS PALETTE 
rose : #ffbfb0
jaune: #fce4c1
vert : #cfe0dc
vert légèrement + foncé : #c0dad4
*/

html {
    scroll-behavior: smooth;
}

body {
    background-color: var(--primary-color);
    color : var(--text-color);
    font-family: 'Montserrat', 'Source Sans Pro', sans-serif;
    font-size: 16px;
}

body.dark {
    --primary-color:#1d2340;
    --secondary-color:#cfe0dc;
    --text-color: #cfe0dc;
    --btn-text-color: #1d2340;
}

h1 {
    font-family: 'Libre Caslon Text';
    font-size: 40px;
}

h2 {
    font-family: 'Libre Caslon Text';
    margin-bottom: 30px;
}

h3 {
    font-family: 'Libre Caslon Text';
}

a {
    text-decoration: none;
    font-size: 1rem;
    text-decoration: none;
    color: var(--text-color);
}

li {
    list-style: none;
}

img {
    width: 400px;
}

/* LIGHT & DARK MODE */
.theme-toggle-btn {
    position: relative;
    width: 30px;
    height: 30px;
    background-color: var(--secondary-color);
    padding: 5px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 30px;
}

.theme-toggle-btn i {
    font-size: 20px;
    color: var(--btn-text-color)
}

/* HEADER */
header {
    position: relative;
    padding: 0 2rem;
}

.navbar {
    width: 100%;
    height: 60px;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar .logo {
    display: flex;
    flex-direction: column;
    justify-self: center;
}

.navbar .left_menu {
    display: flex;
    align-items: center;
    justify-content: center;
}

.navbar ul {
    margin-right: 30px;
}

.navbar .left_menu .links li {
    position: relative;
}

.navbar .left_menu .links li::before {
    content: '';
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 0;
    height: 2px;
    background-color: var(--secondary-color);
    transition: 0.2s ease;
}

.navbar .left_menu .links li:hover::before {
    width: 100%;
}

.navbar .links {
    display: flex;
    gap: 2rem;
    text-transform: uppercase;
}

.navbar .toggle_btn {
    font-size: 1.5rem;
    cursor: pointer;
    display: none;
}

.header_logo-img {
    width: 40px;
    border-radius: 25px;
}

.action_btn {
    background-color: var(--secondary-color);
    color: var(--btn-text-color);
    padding: 0.5rem 1rem;
    border-radius: 20px;
    border: none;
    outline: none;
    font-size: 1rem;
    cursor: pointer;
    transform: scale 0.2 ease;
    text-transform: uppercase;
}

.action_btn:hover {
    scale: 1.05;
}

.action_btn:active {
    scale: 0.95;
}

.social {
    width: 40px;
}

/* CONTACT FORM */
.contact {
    background-position: center;
}
.contact_main-container {
    max-width: 120rem;
    margin: auto;
    width: 92%;
    /*background-color: grey;*/
}
.contact_form-label {
    margin-bottom: 0.9rem;
    display: block;
}
.contact_form-input {
    padding: 1rem;
    border-radius: 5px;
    border: 1px solid #FFF0E5; 
    font-size: 1rem;
    margin-bottom: 1.5rem;
    font-family: 'Source Sans Pro', sans-serif;
}
.contact label {
    border-bottom: 1px solid black;
}
.contact-btn {
    width: 30%;
    padding: 2rem 4rem;
}

/* DROPDOWN MENU */
.dropdown_menu {
    display: none;
    position: absolute;
    right: 2rem;
    top: 60px;
    width: 300px;
    height: 0;
    background-color: rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(15px);
    overflow: hidden;
    border-radius: 10px;
    transition: height 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.dropdown_menu.open {
    height: 240px;
}

.dropdown_menu li {
    padding: 0.7rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.dropdown_menu .action_btn {
    display: flex;
    justify-content: center;
    width: 100%;
}

/* RESPONSIVE DESIGN */
@media(max-width: 992px){
    .navbar .links,
    .navbar .action_btn {
        display: none;
    }

    .navbar .toggle_btn {
        display: block;
    }

    .dropdown_menu {
        display: block;
    }
}

@media(max-width: 576px){
    .dropdown_menu {
        left: 2rem;
        width: unset;
    }
}

/* HERO */
section#hero {
    height: calc(100vh - 60px);
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}


#hero h1 {
    font-size: 3rem;
    margin-bottom: 1rem;
    position: relative;
}

.hero .hero-primary::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: var(--primary-color);
    animation: showRight 1s ease forwards;
    animation-delay: 0.4s;
}

/* KEYFRAMES ANIMATION */
@keyframes showRight {
    100% {
        width: 0;
    }
}

.hero{
    background-repeat: no-repeat;
    background-position: right;
    width: 100%;
    height: 750px;
}

.hero p {
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 40px;
}

.hero button{
    height: 40px;
    width: 200px;
    background-color: var(--accent-color);
    border: none;
    outline: none;
    border-radius: 25px;
    font-size: 1rem;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: var(--btn-text-color);
    text-decoration: none;
    transform: scale 0.2 ease;
    margin: 10px;
}

.hero button a {
    color: var(--btn-text-color);
}

.hero button:hover {
scale: 1.05;
}

.hero button:active {
scale: 0.95;
}

/* ABOUT */

.about  {
    max-width: 45%;
    margin-left: 10%;
}

.about p,
.about ul {
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 20px;
}

.about li {
    list-style: "\2728  ";
}

.sparkles {
    padding-left: 40px;
}

/* PROJECTS */
.projects {
    padding: 50px 0;
}

.projects h2 {
    padding-bottom: 2rem;
    text-align: center;
}

.projects h3 {
    padding-bottom: 1.2rem;
}

.projects .container {
    height: 330px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.projects .left,
.projects .center,
.projects .right {
    display: flex;
    align-items: center;
    justify-content: center;
}

.projects .sub-container {
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.projects img {
    width: 80%;
    border: 1px solid lightgrey;
}

.projects .sub-container p {
    min-width: 70%;
    max-width: 80%;
    padding : 1rem;
    text-align: center;
}

.projects .sub-container button {
    padding: 0.5rem 1rem;
    border-radius: 20px;
    border: none;
    outline: none;
    background-color: var(--accent-color);
    text-transform: uppercase;
    font-size: 0.7rem;
}

/* TOOLING */
.tooling {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.tooling .container {
    height: 100px;
    width: 70%;
    margin: 30px;
    padding: 0.3rem;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    /* flex-wrap: wrap; */
}

.tooling .box-content {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex: 0 1 18%;
    height: 60px;
    border-radius: 8px;
    background-color: var(--accent-color);
    margin: 1%;
    width: 30%;
}

.tooling .box-icon {
    font-size: 25px;
    padding-left: 10px;
    color: var(--btn-text-color);
}

.tooling .box-text p {
    display: block;
    padding: 10px;
    color: var(--btn-text-color);
}

/* FOOTER */
footer p {
    margin: 20px;
    text-align: center;
    font-size: 0.8em;
}